body, html {
    background-color: #3E4244;
    padding: 0;
    margin: 0;
    font-family: "Noto Sans";
}

/*layout*/
.main-container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
}
.side-bar, .info-bar, .side-bar-m, .info-bar-m {
    background-color: #343637;
    min-width: 250px;
    width: 20%;
}


/*side bar*/
#user-info, #user-info-m {
    background-color: #4D4C4C;
}
#user-icon, #user-icon-m {
    height: 60px;
    width: 60px;
    background-color: #0087ff;
    border-radius: 50%;
    overflow: hidden; /* Hides the image overflow */
}
#user-icon i::before, #user-icon-m i::before {
    font-size: 40px;
    color: #fff;
}
#user-name, #user-name-m {
    font-family: "Noto Sans";
    color: #fff;
    font-weight: 800;
    max-width: 165px;
    overflow: hidden;
}
#user-menu li, #chat-room-list li, #contacts-list li, #user-menu-m li, #chat-room-list-m li, #contacts-list-m li {
    color: #fff;
    line-height: 28px;
}

#expand-icon, #expand-icon-m, #collapse-icon, #collapse-icon-m, #expand-icon-menu {
    height: 30px;
    width: 30px;
    background-color: #706F6C;
    border-radius: 50%;
}
.section-title {
    color: #fff;
    font-family: "Noto Sans";
    font-weight: 800;
}
.add-button {
    background-color: #706F6C;
    width: 20px;
    height: 20px;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.add-button:hover {
    background-color: #fffb00;
    color: #000;
}
.add-button i::before {
    font-size: 12px;

}
.grey-spacer {
    background-color: #444444;
    height: 8px;
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;
}
#chat-name, #chat-name-m {
    color: #fff;
    font-weight: 800;
}
#chat-info, #chat-info-m {
    color: #BAB6B6;
    font-family: "Noto Sans";
    position: relative;
    top: -1px;

}
#chat-box {
    flex: 1;
}
#chat-form {
    padding-top: 22px;
}
#chat-control {
    width: 100%;

}
#chat-msg-input {
    margin: 0 auto;
    height: 35px;
    border-radius: 24px 0 0 24px;
    border: none;
    background-color: #4D4C4C;
    color: #fff;
    padding: 22px 24px;
}
#submit-chat-msg {
    background-color: #fffb00;
    width: 100px;
    height: 43px;
    border-radius: 0 24px 24px 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
#submit-chat-msg:hover {
    background-color: #fff;
    color: #000;
}
.btn-div {
    background-color: #EFE84B;
    font-weight: 400;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    width: 150px;
    transition: all 0.15s ease-in-out;
    text-align: center;
    padding: 8px;
    margin: 24px 0;
}
.main-content
{
    height: 100vh;
}
.main-content form input[type="submit"] {
    background-color: #EFE84B;
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    width: 150px;
    transition: all 0.15s ease-in-out;
    margin: 10px 0;
}

.sender-img {
    height: 50px;
    width: 50px;
    min-width: 50px;
    border-radius: 50%;
    background-color: #0087ff;
    margin-right: 10px;
}
.sender {
    flex-direction: row-reverse;
}
.sender .message-text {
    text-align: right;
}
.sender .message-info {
    justify-content: flex-end;
}
.sender .sender-img {
    margin-left: 1rem;
}
.sender-img {
    margin-right: 1rem;
}
.side-bar-m {
    display: none !important;
}
/* Mobile */
.mobile-container {
    display: none;
    width: 0;
}
#collapse-icon-menu {
    width: 95px;
    background-color: #EFE84B;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
}
.active > a {
    color: #efe84b;
    font-weight: bold;
}
.message-text {
    word-wrap: break-word;
}

.scrollbar1::-webkit-scrollbar {
    width: 16px;
}

.scrollbar1::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #343637;
    border: 1px solid #000000;
}

.scrollbar1::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #6b6b6b;
}
#inviteUserResults > div, #friendUserResults > div {
    margin: 10px 0;
    color: #fff;
    text-decoration: underline;
}
@media only screen and (max-width: 600px) {
    .side-bar, .info-bar {
        display: none !important;
    }
    .side-bar-m {
        position: fixed;
        top: 0;
        left: -100%;
        display: block !important;
        width: 90%;
        height: 100%;
        background-color: #343637;
        z-index: 999;
        transition: all 0.3s ease-in-out;
    }
    .mobile-container {
        display: block;
        width: 50px;
        height: 100vh;
        background-color: #343637;
        float: left;
        min-width: 52px;
    }
}

